<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   <!--注册中心里的名字-->
    <dubbo:application name="TextConsumer"></dubbo:application>
    <!--注册中心里的接口-->
    <dubbo:registry address="zookeeper://10.12.153.17:2181"></dubbo:registry>
    <!---->
    <dubbo:reference interface="com.qphone.service.TextService" id="textServiceImpl"></dubbo:reference>
</beans>